# https://platform.openai.com/api-keys
OPENAI_API_KEY=

# https://dash.cloudflare.com/
CLOUDFLARE_ACCOUNT_ID=

# https://developers.cloudflare.com/workers-ai/get-started/rest-api/
CLOUDFLARE_WORKERSAI_API_TOKEN=

ENVIRONMENT="local"